@{
    ViewBag.Title = "Home Page";
}

<div class="homepage-jumbotron-bg">
    <div class="jumbotron">
        <div class="jumbotron-home-text">
            <h1>SyncMe</h1>
            <p class="lead">Experience the social calendar.</p>
            <p><a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-lg">Register &raquo;</a></p>
        </div>
    </div>
</div>