body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    color: #007575;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.icon-bar {
    background-color: #fff;
}

.col-md-1 {
    padding-top: 49px;
    align-content: center;
    text-align: center;
    align-items: center;
    vertical-align: central;
}

.navbar {
    background-color: #007575;
    border-color: #43B1B1;
}

.btn-default {
    background-color: #007575;
    border-color: #43B1B1;
    color: #ffffff;
}

.btn-default:hover {
    background-color: #43B1B1;
    border-color: #007575;
    color: #ffffff;
}

.btn-default:active {
    background-color: #43B1B1;
    border-color: #007575;
    color: #ffffff;
}

.btn-default1 {
    background-color: #007575;
    border-color: #43B1B1;
    color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
}

.btn-default1:hover {
    background-color: #43B1B1;
    border-color: #007575;
    color: #ffffff;
}

.btn-default1:active {
    background-color: #43B1B1;
    border-color: #007575;
    color: #ffffff;
}

.btn-default2 {
    background-color: #007575;
    border-color: #43B1B1;
    color: #ffffff;
    margin-left: 32px;
    margin-right: 5px;
}

.btn-default2:hover {
    background-color: #43B1B1;
    border-color: #007575;
    color: #ffffff;
}

.btn-default2:active {
    background-color: #43B1B1;
    border-color: #007575;
    color: #ffffff;
}

.btn-primary {
    background-color: #007575;
    border-color: #43B1B1;
    opacity: 1;
    min-width: 167px;
}

.btn-primary:hover {
    background-color: #43B1B1;
    border-color: #007575;
}

.btn-primary:active {
    background-color: #43B1B1;
    border-color: #007575;
}

.btn-primary::selection {
    background-color: #43B1B1;
    border-color: #007575;
}

.btn-primary2 {
    background-color: #007575;
    border-color: #43B1B1;
    opacity: 1;
    min-width: 100px;
    color: #ffffff;
}
.btn-primary2:hover {
    background-color: #43B1B1;
    border-color: #007575;
    color: #ffffff;
}

.btn-primary2:active {
    background-color: #43B1B1;
    border-color: #007575;
    color: #ffffff;
}

.btn-primary2::selection {
    background-color: #43B1B1;
    border-color: #007575;
    color: #ffffff;
}

.navbar-brand {
    background-image: url(Images/SyncMe-Logo.png);
    background-size: 100px, 100px;
    background-repeat: no-repeat;
    height: 50px;
    width: 100px;
    background-position-y: 10px;
}

.navbar-inverse .navbar-brand {
    color: #43B1B1;
}

.navbar-nav li a {
    color: #ffffff;
}

.navbar-nav li a:hover {
    background-color: #007575;
    color: #43B1B1;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #43B1B1;
}

a {
    color: #007575;
}

a:hover {
    color: #43B1B1;
}

.navbar-inverse .navbar-toggle {
    color: #43B1B1;
}

.homepage-jumbotron-bg {
    background-image: url(Images/syncme-j2.png);
    /*background-position-x: 50%;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 430px;
    padding-top: 50px;
    text-align: center;
    line-height: 110px;
}

.homepage-jumbotron-bg .jumbotron {
    color: #fff;
    background: rgba(0,0,0,0.5);
    text-align: center;
    min-height: 800px;
    min-width: 100%;
    /*border-radius: 100000% !important;*/
}

@media screen and (min-width: 768px) {
    .homepage-jumbotron-bg {
        /*background-position-y: -124px;*/
    }
}

.jumbotron {
    margin-bottom: 0px !important;
}

.jumbotron-home-text {
    padding-top: 180px;
}

.fc-left {
    color: #007575;
}

.fc-day-header {
    color: #007575;
}

.fc-day-number {
    color: #007575;
}

.fc-unthemed td.fc-today {
    background-color: rgb(67, 177, 177);
}

.fc-scroller {
    color: #007575;
}

/*.fc-content {
    background-color: #007575;
    color: #ffffff;
}*/

.green-action-link {
    color: green;
}

.circle {
  width: 110px;
  height: 110px;
  border-radius: 110%;
  font-size: 13px;
  color: #ffffff;
  line-height: 110px;
  text-align: center;
  background: #007575;
  /*margin-left: 20px;*/
  margin-bottom: -25px;
  margin-top: 0px;
}

.circle2 {
  width: 110px;
  height: 110px;
  border-radius: 110%;
  font-size: 13px;
  color: #ffffff;
  line-height: 110px;
  text-align: center;
  background: purple;
  /*margin-left: 20px;*/
}

/*.container2 {
    width: 100%;
    margin: auto;
    padding: 10px;
}

.one {
    width: 15%;
    height: 200px;
    float: left;
}

.two {
    margin-left: 15%;
    margin-top: -200px;
    height: 500px;
}*/

.avatar_head {
width: 30px;
height: 30px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
}